---
layout: framework
banner:
support: [jquery, gallery]
banner_html: post-header.html
hidden: []
sidebar:
  - article-menu
image: /site-logo.png
---

<div class="post">
  <section>

    {%- assign name = 'banner' -%}
    {%- include functions.html func='get_value' -%}
    {%- assign banner = return -%}

    {%- assign name = 'hidden' -%}
    {%- include functions.html func='get_value' -%}
    {%- assign hidden = return -%}

    {%- assign result = hidden | where_exp: "item", "item == 'header'" -%}
    {%- if banner == nil and result.size == 0 -%}
    {%- include views/post-header.html -%}
    {%- endif -%}

    {%- include views/article.html -%}

    {%- assign result = hidden | where_exp: "item", "item == 'navigator'" -%}
    {%- if result.size == 0 -%}
    <div class="post-nav">
      {%- if page.previous -%}
        <a class="previous" href="{{ page.previous.url | relative_url }}" title="{{
          page.previous.title | escape }}">{{ page.previous.title | escape | truncatewords: 6 }}</a>
      {%- else -%}
      <span></span>
      {%- endif -%}

      {%- if page.next -%}
        <a class="next" href="{{ page.next.url | relative_url }}" title="{{ page.next.title | escape }}">{{ page.next.title | escape | truncatewords: 6 }}</a>
      {%- else -%}
      <span></span>
      {%- endif -%}
    </div>
    {%- endif -%}

    <div class="post-related">

      <h4>Related Posts</h4>
      
      {% assign maxRelated = 4 %}
      {% assign minCommonTags =  2 %}
      {% assign maxRelatedCounter = 0 %}

      <ul>
        {% for post in site.posts %}
      
          {% assign sameTagCount = 0 %}
          {% assign commonTags = '' %}
      
          {% for tag in post.tags %}
            {% if post.url != page.url %}
              {% if page.tags contains tag %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
                {% assign commonTags = commonTags | append: tagmarkup %}
              {% endif %}
            {% endif %}
          {% endfor %}
      
          {% if sameTagCount >= minCommonTags %}
            <div>
            <li></li><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
            </div>
            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
              {% break %}
            {% endif %}
          {% endif %}
      
        {% endfor %}
      </ul>
      </div>

    {%- assign result = hidden | where_exp: "item", "item == 'comments'" -%}
    {%- if result.size == 0 -%}
    <div class="post-comments">
      {%- if page.comments != false -%}

      {%- if site.disqus.shortname -%}
      {%- include extensions/comments/disqus.html -%}
      {%- endif -%}

      {%- if site.gitment.username -%}
      {%- include extensions/comments/gitment.html -%}
      {%- endif -%}

      {%- endif -%}
    </div>
    {%- endif -%}

  </section>
</div>
